{% extends 'customer/base.html' %}

{% load static %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center">
        <div class="card col-md-5 col-sm-12 p-5 text-center">
            <h2>Select Drink</h2>
            {% for drink in drinks %}
                <img src="{{ drink.image }}">
                <div class="justify-content-center">
                    <h4 id="dri{{drink.id}}">{{ drink.name }}</h4>
                    <h4 id="pri{{drink.id}}">€ {{ drink.price }}</h4>
                    <button class="btn btn-warning" id="drink{{drink.id}}" onclick="addDrink('{{ drink.id }}')">Select</button>
                </div>
            {% endfor %}
        </div>
        <div class="card col-md-3 ml-3 bg-light">
            <h2>Order list</h2>
            <ul id="cart"></ul>
            <h4 id="total">Total: € 0</h4>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-md-5 col-sm-12 p-5 text-center">
            <a href="{% url 'customer:order' %}" class="btn btn-primary">Next</a>
        </div>
    </div>
</div>
<script src="{% static 'customer/js/order.js' %}"></script>
{% endblock content %}