{% extends 'customer/base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center">
        <div class="card col-md-5 col-sm-12 p-5 text-center">
            <h2>Select Drink</h2>
            {% for drink in drinks %}
                <img src="{{ drink.image }}">
                <div class="justify-content-center">
                    <button class="btn btn-warning">{{ drink.name }}</button>
                </div>
            {% endfor %}
        </div>
        <div class="card col-md-3 ml-3">
            <h2>Order list</h2>
            <h2>Total: € 0</h2>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-md-5 col-sm-12 p-5 text-center">
            <a href="{% url 'customer:order' %}" class="btn btn-primary">Next</a>
        </div>
    </div>
</div>
{% endblock content %}