{% extends 'customer/base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center">
        <div class="card col-md-5 col-sm-12 p-5 text-center">
            <a href="{% url 'customer:burger' %}" class="btn btn-danger m-2 p-4">Burgers</a>
            <a href="{% url 'customer:side' %}" class="btn btn-danger m-2 p-4">Sides</a>
            <a href="{% url 'customer:drink' %}" class="btn btn-danger m-2 p-4">Drinks</a>
        </div>
        <div class="card col-md-3 ml-3 bg-light">
            <h2>Order list</h2>
            <ul></ul>
            <h4>Total: € 0</h4>
        </div>
    </div>
</div>
{% endblock content %}